<html>
    <title>
        第二頁
    </title>
    <body>
        <h1>Jacob Koller</h1>
        <br>
        <ul>
            <li>出生日期:1980 年 3 月 9 日</li>
            <li>音樂類型:爵士</li>
        </ul>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wyLcLZlZ-vI?si=TSiDOnyUWFQfI3vm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h1>回饋表單</h1>
        <form action="" method="">
            <label for="select_1">你是從哪裡知道這個網站的?</label>
            <select name="select_1" id="select_1">
                <option value="選項一">ig</option>
                <option value="選項二">fb</option>
                <option value="選項三">作業</option>
            </select>
        </form><br>
        <h1>你最喜歡的活動</h1>
        <form action="" method="">
            <input type="radio" name="radio_1" id="radio_1" value="radio_1"
            <label for="radio_1">運動</label><br>

            <input type="radio" name="radio_1" id="radio_2" value="radio_2"
            <label for="radio_2">聽音樂</label><br>

            <input type="radio" name="radio_1" id="radio_3" value="radio_3"
            <label for="radio_3">打電動</label><br>

        </form>
        <h1>喜歡的音樂類型(可複選)</h1>
        <form action="" method="">
            <input type="checkbox" name="checkbox_1" id="checkbox_1" value="checkbox_1"
            <label for="checkbox_1">搖滾</label><br>

            <input type="checkbox" name="checkbox_1" id="checkbox_2" value="checkbox_2"
            <label for="checkbox_2">爵士</label><br>

            <input type="checkbox" name="checkbox_1" id="checkbox_3" value="checkbox_3"
            <label for="checkbox_3">古典</label><br>

        </form>
        <form action="" method="">
            <label for="textarea_1">備註</label>
            <textarea name="textarea_1" cols="30"></textarea>
        </form>
        <a href="./113305004_detail.html">
            <button>送出留言</button>
        </a>
    </body>
</html>