<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/113305004_css.css">
        <title>
            113305004_林宥丞
        </title>
        <body>
            <nav id="navbar">
                <ul>
                    <li><a href="./113305004_detail.html">首頁</a></li>
                    <li><a href="./113305004_index.html">更多介紹</a></li>
                    <li class="dropdown">
                    <a href="#">其他資源 ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.ncu.edu.tw" target="_blank">中央大學</a></li>
                        <li><a href="https://www.google.com" target="_blank">Google</a></li>
                        <li><a href="https://github.com" target="_blank">GitHub</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>

            <br><br>
            <h1>3 Facts About Benny</h1>
            <br><br>
            <table border="1">
                <tr>
                    <th>
                        <img src="../static\img\ab6761610000e5eb123b2ee7c4c1d8eeec30ce63.jpg"
                        height="100px"
                    </th>
                    <th>
                        <img src="../static\img\istockphoto-1448737609-612x612.jpg"
                        height="100px"
                    </th>
                    <th>
                        <img src="../static\img\msys_1009_2883984_22317.png"
                        height="100px"
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href="./113305004_index.html">Favorite Muscican: Jacob Koller</a>
                    </th>
                    <th>
                        <a href="./113305004_index.html">Hobby: Play Videogames</a>
                    </th>
                    <th>
                        <a href="./113305004_index.html">Major: Interdisciplinary Program of Engineering</a>
                    </th>
                </tr>

            </table>
        </body>
    </head>
</html>